/* Center the loader */
#loader{
	/*position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;*/
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
	display: none;
   
  }
  .center-body {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	  height: 100vh;
	  /****** center box
	  width: 300px;
	  height: 300px;
	  border: solid 1px #aaa;
	  ******/
  }
  
  .loader-circle-38 {
	  position: relative;
	  width: 0;
	  height: 0;
	  margin: 0 auto;
	  animation: loader-circle-38-spin-1 1.2s infinite ease;
  }
  .loader-circle-38:before,
  .loader-circle-38:after {
	  content: "";
	  position: absolute;
	  width: 20px;
	  height: 20px;
	  top: 50%;
	  left: 50%;
	  margin-top: -10px;
	  margin-left: -10px;
	  border-radius: 10px;
	  opacity: 0.9;
  }
  .loader-circle-38::before {
	  background: #00a7ce;
	  transform: translate(-0.75em, -0.75em) scale(1);
	  box-shadow: 1.5em 1.5em 0 #72c45a;
	  animation: loader-circle-38-spin-2 1.2s infinite ease;
  }
  .loader-circle-38:after {
	  background: #f963a3;
	  transform: translate(0.75em, -0.75em) scale(1);
	  box-shadow: -1.5em 1.5em 0 #ffd15b;
	  animation: loader-circle-38-spin-3 1.2s infinite ease;
  }
  @keyframes loader-circle-38-spin-2 {
	  50% {
		  transform: scale(1.3) translate(0, 0);
		  box-shadow: 0 0 0 #72c45a;
		  opacity: 0.8;
	  }
  }
  @keyframes loader-circle-38-spin-3 {
	  50% {
		  transform: scale(1.3) translate(0, 0);
		  box-shadow: 0 0 0 #ffd15b;
		  opacity: 0.8;
	  }
  }
  @keyframes loader-circle-38-spin-1 {
	  0% {
		  transform: rotate(0deg);
	  }
	  50% {
		  transform: rotate(360deg);
	  }
	  100% {
		  transform: rotate(720deg);
	  }
  }




* {
    margin: 0px;
    font-family:'Open Sans', sans-serif;
}
.fl{
    float:left;
}
.hl{
	color: white;
	text-decoration: none;
}
.hl:hover{
	color: red;
}
.ml{
	color: #333333;
	text-decoration: none;
	list-style-type: none;
    margin: 0px 0px 0px 4px;
}
li{
	display: inline;
	margin: 10px;
}
.ml:hover{
	color: red;
}
.container1{
    height: 2200px;
    width: 100%;
}

.header1 {
    height: 30px;
    width: 100%;
    background-color: #333333;
    color:white;
	font-size:15px ;
}

.header2{
	height: 85px;
	width: 100%;
	background: white;
	position: sticky;
	top:0;
	left:0;	 
}
.logo{
	height: 100px;
	width: 20%;
}
.logo1{
	margin: 15px 0px 0px 80px;
}
.menu{
	height: 100px;
	width: 70%;
	margin: 30px 0px 0px 90px;
	font-family: open sans, sans-serif;
}
.header3 {
    height: 70px;
    width: 100%;
    background-color:#4f7799;
}
.sbh{
    height: 38px;
    width: 17%;
    background-color: white;
    box-shadow: 0px 0px 2px 0px #333;
    top :140px;
    left: 550px;
    position: absolute;
     padding-top:12px;
}
li a{
    color:#333;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
   
}
li{
    list-style-type: none;
    display: inline;
}
li a:hover{
    color:red;
}    
.vl{
    border-left: solid black 2px;
    height: 1px;
    display: inline;
    margin: 0px 7px 0px 5px;
}
.container2{
    height: 620px;
    width: 100%;
}
.c1{
    height: 500px;
    width:55%;
    margin:60px 0px 0px 80px;
}
.i1{
    width: 350px;
    height: 40px;
    margin: 15px 30px 0px 0px;
}

.name{
    width: 345px;
    height: 38px;
    font-size: 18px;
    transition: all .5s ease;
	border: 1px solid rgba(0, 0, 0, .15);
	box-shadow: 0 20px 0 0 #d5d5d5 inset, 0 -20px 0 0 #d5d5d5 inset;
}
.name:focus {
	box-shadow: none;
	border-color: #d5d5d5;
}

.i2{
    width: 350px;
    height: 40px;
    margin: 15px 0px 0px 0px;
}
.email{
    width: 345px;
    height: 38px;
    font-size: 18px;
}
.i3{
    width: 720px;
    height: 40px;
    margin: 40px 0px 0px 0px;
}
.web{
    width: 725px;
    height: 38px;
    font-size: 18px;
}
.i4{
    width: 720px;
    height: 210px;
    margin: 40px 0px 0px 0px;
}
.msg:focus {
	box-shadow: none;
	border-color: #d5d5d5;
}
.msg{
    width: 726px;
    height: 150px;
    transition: all .5s ease;
	border: 1px solid rgba(0, 0, 0, .15);
	box-shadow: 0 150px 0 0 #d5d5d5 inset, 0 -20px 0 0 #d5d5d5 inset;
}
.c2{
    height: 500px;
    width:30%;
    margin:60px 0px 0px 50px;
}
.btn{
    height:40px;
    width: 150px;
    border-radius: 20px;
    border:1px solid red;
    color: red;
    font-size: 14px;
    background-color: white;
}
.btn:hover{
    background-color: red;
    color: white;
}
.container3{
    height: 500px;
    width: 100%;
    margin: 20px 0px 0px 0px;
}


.fti{
    height: 700px;
    width: 100%;
}
.bgi{
    height: 850px;
    width: 100%;
   background: #000 url(images/footerbg.png) no-repeat;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}
.fc{
    height:850px;
    width: 100%;
    background-color:#0000007a;
   
}
.fc1{
    height:50px;
    width: 18%;
    color: white;
    margin: 30px 0px 0px 490px;
    border-bottom: solid white 1px;
}
.fi{
    height: 250px;
    width: 100%;
}
.fti1{
    height:200px;
    width:15%;
    margin: 15px 0px 0px 65px;
}
.fti2{
    height:200px;
    width:15%;
    margin: 15px 0px 0px 0px;
}
.fti3{
    height:200px;
    width:15%;
    margin: 15px 0px 0px 0px;
}
.fti4{
    height:200px;
    width:15%;
    margin: 15px 0px 0px 0px;
}
.fti5{
    height:200px;
    width:15%;
    margin: 15px 0px 0px 0px;
}
.fti6{
    height:200px;
    width:15%;
    margin: 15px 0px 0px 0px;
}
.footer1{
    height:350px;
    width:100%;
}
.ls{
    text-decoration: none;
    color: white;
}
.fc2{
    height: 100px;
    width:30%;
    color: white;
    text-align: justify;
    margin:20px 0px 0px 65px;
}
.fc3{
    height: 100px;
    width:12%;
    color: white;
    text-align: justify;
    margin: 20px 0px 0px 25px;
}
.fc4{
    height: 100px;
    width:12%;
    color: white;
    text-align: justify;
    margin: 20px 0px 0px 25px;
}
.fc5{
    height: 100px;
    width:30%;
    color: white;
    text-align: justify;
    margin: 20px 0px 0px 25px;
}
.footer2{
    height:100px;
    width: 100%;
}
.fc6{
    height: 50px;
    width:28%;
    color: white;
    margin: 200px 0px 0px 480px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    text-align: center;
    padding-top:18px;
}
.sp{
	height: 60px;
	width: 15%;
	position:fixed;
	top:570px;
	bottom: 0px;
	left: 1290px;
	 
}